<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LedgerDb"
         connectionString="Data Source=SARUF-RATUL\SQLEXPRESS;Initial Catalog=XsiBookkeeping;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;Application Name=XsiBookkeeping.Web"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" maxRequestLength="4096" requestValidationMode="4.5" />
    <globalization culture="en-US" uiCulture="en-US" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="480" slidingExpiration="true" name=".LedgerAuth" protection="All" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0" enableViewStateMac="true" />
    <customErrors mode="RemoteOnly" />
  </system.web>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
